@using web_app_asp_net_mvc_html.Models
@model Lesson

<fieldset>
    <legend>Пожалуйста, заполните необходимые поля</legend>
    @using (Html.BeginForm("Edit", "Lessons", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
        @Html.EditorForModel()

        <input type="submit" value="Сохранить" />
        <button>@Html.ActionLink("Отменить", "Index", "Lessons")</button>
    }
</fieldset>

